@model Datas.Models.ViewModels.UserModel
<div class="form-group">
    <label asp-for="DepartmentId" class="control-label"></label>
    <select class="form-control" asp-for="DepartmentId" asp-items="(IEnumerable<SelectListItem>)ViewBag.ListDepartment">
        <option value="">---Chọn phòng tổ---</option>
    </select>
    <input type="hidden" asp-for="DepartmentId" />
    <span asp-validation-for="DepartmentId" class="text-danger"></span>
</div>