*.dll
/common/bin
/common/obj
/datas/bin
/datas/obj
/Services/bin
/Services/obj
/WebApp/bin
/WebApp/obj
.vs/
/WebApp/Properties/PublishProfiles/FolderProfile1.pubxml.user
/WebApp/appsettings.json
/WebApp/WebApp.csproj
/WebLCU.sln
/WebApp/wwwroot/datas/.tmb
