@using Datas.Models.ViewModels
@{
    Layout = "";
    ViewBag.Title = "Khôi phục mật khẩu";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hệ thống quản lý dân tộc</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <p style="font-size:0.9rem;margin-bottom:2px;font-weight:400;">PHẦN MỀM</p>
                <a href="/" class="h3">QUẢN LÝ DÂN TỘC</a>
            </div>
            <div class="card-body">
                @if (ViewBag.Message == null)
                {
                    <p class="login-box-msg">Vui lòng nhập email để lấy lại mật khẩu</p>
                    <form method="post" asp-action="ForgotPass" asp-controller="Login" asp-area="Admin">
                        <div class="mb-3">
                            <div class="input-group">
                                <input id="email" name="email" type="email" class="form-control" placeholder="Nhập email" data-val-required="Bạn cần nhập email" />

                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>
                            <span class="text-danger field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true"></span>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block">Yêu cầu cấp lại mật khẩu</button>
                            </div>
                            <!-- /.col -->
                        </div>
                        <div class="row">
                            <div class="col-12">
                                @Html.ValidationSummary(true, "", new { @style = "color:red;" })
                            </div>
                        </div>
                    </form>
                }
                else
                {
                    <p class="login-box-msg">@ViewBag.Message</p>
                }
                <p class="mt-3 mb-1">
                    <a asp-action="Index" asp-controller="Login" asp-area="Admin">Đăng nhập</a>
                </p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-validation/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
</body>
</html>
