@model Datas.Models.ViewModels.ProduceToolModel
<div class="form-group">
    <label asp-for="CategoryId" class="control-label"></label> <span class="text-danger">(*)</span>
    <select class="form-control" asp-for="CategoryId" asp-items="(IEnumerable<SelectListItem>)ViewBag.ProduceToolCategories">
        <option value="">---Chọn loại công cụ sản xuất---</option>
    </select>
    <input type="hidden" asp-for="CategoryId" />
    <span asp-validation-for="CategoryId" class="text-danger"></span>
</div>