
@using Common
@model Datas.Models.ViewModels.ProduceToolModel
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label> <span class="text-danger">(*)</span>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Code" class="control-label">Mã công cụ</label> 
            <input asp-for="Code" class="form-control" />
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TenGoiKhac" class="control-label">Tên gọi khác</label>
            <input asp-for="TenGoiKhac" class="form-control" />
            <span asp-validation-for="TenGoiKhac" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="VungMien" class="control-label">Vùng miền</label>
            <input asp-for="VungMien" class="form-control" placeholder="Vùng miền phổ biến" />
            <span asp-validation-for="VungMien" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NganhNgheSuDung" class="control-label">Ngành nghề sử dụng</label>
            <input asp-for="NganhNgheSuDung" class="form-control" placeholder="Ngành nghề sử dụng" />
            <span asp-validation-for="NganhNgheSuDung" class="text-danger"></span>
        </div>
        <div class="form-group">
            @Html.Partial("_DisplayProduceToolCategory")
        </div>
        <div class="form-group">
            @Html.Partial("_DisplayPeople")
        </div>

    </div>
    <div class="col-md-6">
        <div class="row" style="margin-top:38px;">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="IsDisplay" class="control-label"></label>
                    <input asp-for="IsDisplay" />
                    <span asp-validation-for="IsDisplay" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Top" class="control-label"></label>
                    <input asp-for="Top" />
                    <span asp-validation-for="Top" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Image360" class="control-label"></label>
            <input asp-for="Image360" class="form-control" />
            <span asp-validation-for="Image360" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Details" class="control-label"></label>
            <textarea asp-for="Details" class="form-control"></textarea>
            <span asp-validation-for="Details" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="control-label"></label>
            <select class="form-control" asp-for="Status" asp-items="Html.GetEnumSelectList(typeof(Enums.ActiveStatus))">
            </select>
            <input type="hidden" asp-for="Status" />
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="Content" class="control-label"></label> <span class="text-danger">(*)</span>
            <textarea asp-for="Content" class="form-control"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
    </div>
</div>