@using Common
@model Datas.Models.ViewModels.CeremonialToolModel
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="IdentityCode" class="control-label">Mã dụng cụ</label> <span class="text-danger">(*)</span>
            <input asp-for="IdentityCode" class="form-control" />
            <span asp-validation-for="IdentityCode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label">Tên dụng cụ</label> <span class="text-danger">(*)</span>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AlternativeNames" class="control-label">Tên gọi khác</label>
            <input asp-for="AlternativeNames" class="form-control" />
            <span asp-validation-for="AlternativeNames" class="text-danger"></span>
        </div>
        <div class="form-group">
            @Html.Partial("_DisplayCeremonialToolCategory")
        </div>
        <div class="form-group">
            @Html.Partial("_DisplayPeople")
        </div>
        <div class="form-group">
            <label asp-for="Religion" class="control-label">Tôn giáo/Tín ngưỡng liên quan</label>
            <input asp-for="Religion" class="form-control" />
            <span asp-validation-for="Religion" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CommonRegions" class="control-label">Khu vực phổ biến</label>
            <input asp-for="CommonRegions" class="form-control" />
            <span asp-validation-for="CommonRegions" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row" style="margin-top:38px;">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="IsDisplay" class="control-label">Hiển thị</label>
                    <input asp-for="IsDisplay" />
                    <span asp-validation-for="IsDisplay" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Top" class="control-label">Lên đầu</label>
                    <input asp-for="Top" />
                    <span asp-validation-for="Top" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Image360" class="control-label">Link ảnh 360°</label>
            <input asp-for="Image360" class="form-control" />
            <span asp-validation-for="Image360" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Scan3DLink" class="control-label">Link ảnh scan 3D</label>
            <input asp-for="Scan3DLink" class="form-control" />
            <span asp-validation-for="Scan3DLink" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Details" class="control-label">Mô tả ngắn</label>
            <textarea asp-for="Details" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Details" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="control-label">Trạng thái</label>
            <select class="form-control" asp-for="Status" asp-items="Html.GetEnumSelectList(typeof(Enums.ActiveStatus))">
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="Content" class="control-label">Giới thiệu chi tiết</label> <span class="text-danger">(*)</span>
            <textarea asp-for="Content" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
    </div>
</div>

