    <!--  Phần Header  -->
<section id="header">
    <div class="container">

        <!--  Phần Tìm Kiếm  -->
        <div class="row">
            @Html.Partial("_MainHeaderSearch")
        </div>

        <!--  Phần Menu  -->
        <div class="row">
            @Html.Partial("_MainHeaderMenu")
        </div>
    </div>
</section>