@model Datas.Models.ViewModels.InstrumentModel
<div class="form-group">
    <label asp-for="PeopleId" class="control-label"></label>
    <select class="form-control" asp-for="PeopleId" asp-items="(IEnumerable<SelectListItem>)ViewBag.Peoples">
        <option value="">---Chọn dân tộc---</option>
    </select>
    <input type="hidden" asp-for="PeopleId" />
    <span asp-validation-for="PeopleId" class="text-danger"></span>
</div>