<div class="form-group">
    <label class="control-label">Phường/xã </label>
    <select class="form-control" id="select-WardId" asp-items="(IEnumerable<SelectListItem>)ViewBag.WardArea">
        <option value="">---Chọn phường/xã---</option>
    </select>
</div>